@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat&family=Open+Sans:ital,wght@1,300&family=Rubik:ital,wght@0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(225, 168,	72);
    font-family: 'Rubik', sans-serif;
}

.yellow {
    background-color: rgb(151, 107,	39);
}

.white-line-hor {
    height : 10px;
}

.white-line-ver {
    width: 10px;
}

.bt {
    padding: 0;
    background: none;
    border: none;
}

.skills-column {
    background-color: rgb(167, 121, 46);
}

